<template>
  <div class="scroll-wrapper">
    <div
        ref="scrollActive"
        class="scroll-active"
        @touchend="() => endScroll()"
        @touchstart="()=>{
        $refs.scrollModal.style.pointerEvents = 'auto';
        $refs.scrollActive.style.pointerEvents = 'none';
      }"
    />
    <div ref="scrollModal" class="scroll-modal">
      <div
          ref="modalInvisible"
          class="modal-invisible"
          @touchstart="() => scrollWindow(true)"
      ></div>
      <div
        class="modal-header"
        @touchend="() => endScroll()">
        <div
          style="
          width: 9%;
          height: 3px;
          background: #00C3D2;
          border-radius: 25px;
          margin: auto;
          margin-bottom: 5px;"/>
        <div class="modal-search">
          <div class="content-search">
            <input
                class="content-search__input"
                placeholder="Поиск мест, скидок, карт поблизости"
                style="background: transparent"
                type="text"
                @click="()=>{scrollWindow(false, true)}"
            >
            <div class="content-search__icon"/>
          </div>
        </div>
      </div>
      <div class="modal-content"
           @touchend=" () => {
          endScroll()
        }">
        <slot/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ScrollModal',

  data() {
    return {downScrollPosition: true};
  },

  methods: {
    endScroll() {
      setTimeout(() => {
        this.scrollWindow();
      }, 250)
    },
    scrollWindow(scrollBottom = false, scrollTop = false) {
      console.log('scroll')
      const clientHeight = window.screen.height;
      const clientHeight33 = clientHeight * .33;
      const clientHeight66 = clientHeight * .66;


      // Down position scroll
      if (((this.$refs.scrollModal.scrollTop + 120) < clientHeight33 || scrollBottom) && !scrollTop) {
        this.downScrollPosition = true;
        this.$refs.modalInvisible.style.background = 'transparent';
        this.$refs.scrollActive.style.pointerEvents = 'auto';
        this.$refs.scrollActive.style.bottom = 0;
        this.$refs.scrollModal.style.pointerEvents = 'none';
        this.$refs.scrollModal.style.overflowY = 'scroll';
        this.$refs.scrollActive.style.marginBottom = 0 + 'px';
        return this.$refs.scrollModal.scrollTo({
          top: 0,
          left: 0,
          behavior: 'smooth'
        });
      }



      // Middle position scroll
      if (this.$refs.scrollModal.scrollTop + 120 < clientHeight66 && !scrollTop) {
        this.downScrollPosition = false;
        const scrollHeight = (clientHeight * .6) - 120;
        this.$refs.scrollActive.style.bottom = scrollHeight + 'px';
        return this.$refs.scrollModal.scrollTo({
          top: scrollHeight,
          left: 0,
          behavior: 'smooth'
        });
      }

      // Top position scroll
      this.downScrollPosition = false;
      const scrollHeight = (clientHeight * .9) - 120;
      this.$refs.scrollActive.style.bottom = scrollHeight + 'px';
      return this.$refs.scrollModal.scrollTo({
        top: scrollHeight,
        behavior: 'smooth'
      });

    }
  },
}
</script>

<style lang="scss" scoped>
.scroll-wrapper {
}

.scroll-active {
  margin-bottom: 0px;
  width: 100%;
  //height: 10vh;
  height: 120px;
  bottom: 0;
  position: fixed;
  z-index: 2;
}

.scroll-modal {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  height: 100vh;
  pointer-events: none;
}

.modal-invisible {
  background: transparent;
  height: calc(100vh - 120px);
  width: 100vw;
  transition: background-color .3s;
}

.modal-header {
  width: 100vw;
  height: 15px;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  bottom: 0;
  position: relative;
}

.modal-search {
  background: #fff;
  padding: 0 15px 50px 15px;
}

.content-search {

  justify-content: space-between;
  display: flex;
  background-color: #f5f2f5;
  padding: 10px 15px;
  border-radius: 7px;

  &__input {
    width: 80%;
    border: none;
  }

  &__input:focus {
    outline: none;
    border: none;
  }

  &__icon {
    background-image: url("https://cdn-icons-png.flaticon.com/512/149/149309.png");
    background-size: cover;
    width: 15px;
    height: 15px;
  }
}


.modal-content {
  background-color: #fff;
  position: relative;
  max-height: 95vh;
  overflow: scroll;
  margin-top: 45px;
}
</style>
