<template>
  <div>
    <div class="tabs">
      <ul class="header-tabs">
        <li v-for="(tab, index) in tabs" :key="index" :class="{ 'is-active': tab.isActive }">
          <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
        </li>
      </ul>
    </div>

    <div class="tabs-details">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Tabs',

  data() {
    return {tabs: []};
  },

  props: {
    content: String
  },

  created() {
    this.tabs = this.$children;
  },

  methods: {
    selectTab(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = (tab.name == selectedTab.name);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.tabs {
  box-shadow: 0px 1px 5px #00000030;
  padding-bottom: 1px;
}

.header-tabs {
  display: flex;
  justify-content: space-around;
  background: #fff;
  margin-bottom: 10px;

  li {
    list-style-type: none;

    a {
      text-decoration: none;
      color: #959595;
      padding-bottom: 10px;
    }

  }

  .is-active {
    a {
      color: #00c3d2;
      border-bottom: 2px solid #00c3d2;
    }
  }
}
</style>
