<template>
  <div id="app">
    <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab876cf169c0c32cdcac65519a8e75aadbddebefa232198171d99d332ede43e89&amp;source=constructor"
        width="100%"
        height="900px"
        frameborder="0">
    </iframe>
    <ScrollModal>
      <Tabs>
        <Tab name="Все" :selected="true">
          <div style="margin: 20px 15px;">
            <img
              style="width: 40vh; height: 20vh"
              src="https://static-cse.canva.com/blob/846900/photo1502082553048f009c37129b9e1583341920812.jpeg"/>
            <h1>Все</h1>
          </div>
        </Tab>
        <Tab name="Места">
          <h1>Это места</h1>
        </Tab>
        <Tab name="Скидки">
          <h1>Здесь скидки</h1>
        </Tab>
        <Tab name="Карты">
          <h1>Тут карты</h1>
        </Tab>
      </Tabs>
      <div
          v-for="item in 5"
          :key="item"
          style="height: 300px; width: 200px; background: orange">
        Контент окна
      </div>

    </ScrollModal>
  </div>
</template>

<script>
import ScrollModal from './components/ScrollModal.vue'
import Tabs from './components/Tabs.vue'
import Tab from './components/Tab.vue'

export default {
  name: 'App',
  components: {
    ScrollModal,
    Tabs,
    Tab
  },
  methods: {
    selectTab(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = (tab.name == selectedTab.name);
      });
    }
  }
}

</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  position: relative;
}
</style>
